<div id='container'>
  <div id='create'>
    <form name='shortlyForm' ng-submit='addLink()' novalidate>
        <input class='text' type='url' name='linkField' required
        ng-class="{'error': shortlyForm.$invalid  && shortlyForm.$dirty}" ng-model="link.url">
        <input type='submit' value='Shorten' ng-disabled='shortlyForm.$invalid'>
    </form>
    <div ng-if='shortlyForm.linkField.$error.required && shortlyForm.$dirty' class='message'>
      <h2>Url required</h2>
    </div>
    <div ng-show='shortlyForm.linkField.$error.url && shortlyForm.$dirty' class='message'>
      <h2>Not a valid URL.</h2>
    </div>
  </div>
</div>
